*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif; }

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #005486;
    background-image: linear-gradient(180deg, #005486 0%, #62a2a7 100%);
    
}